/*********************************************************************
 *                                                                   *
 *                                                                   *
 *                      Erstellungsjahr: 2014                        *
 *                                                                   *
 *                                                                   *
 *********************************************************************/



/********** Allgemein **********/
body {
  margin:0;
  padding:0;
  font-family:Verdana;
  font-size:13px;
  color:#333;
}
img {
  border:0;
}
a {
  color:#333;
  text-decoration:none;
  outline:none;
}
form {
  display:inline;
}

.clearer {
  clear:both;
}